<!DOCTYPE html>
<!-- 
Theme: Keen - The Ultimate Bootstrap Admin Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
License: You must have a valid license purchased only from https://themes.getbootstrap.com/product/keen-the-ultimate-bootstrap-admin-theme/ in order to legally use the theme for your project.
-->
<html lang="en">
<!-- begin::Head -->

<head>
    <meta charset="utf-8" />

    <title>Datakit | Create Account</title>
    {{!-- <meta name="description" content="User login example"> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->


    <!--begin::Page Custom Styles -->
    <link href="./assets/custom/user/login-v2.css" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles -->

    <!--begin::Global Theme Styles -->
    <link href="./assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="./assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->

    <!--begin::Layout Skins -->
    <link href="./assets/demo/default/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="./assets/demo/default/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="./assets/demo/default/skins/brand/navy.css" rel="stylesheet" type="text/css" />
    <link href="./assets/demo/default/skins/aside/navy.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Skins -->


    <link rel="shortcut icon" href="./assets/media/logos/favicon.ico" />

    <script src='https://www.google.com/recaptcha/api.js?render=6Lcc_Y8UAAAAAKQclafg6UvwgkOhiBRfbsm7648J'></script>
</head>
<!-- end::Head -->

<!-- begin::Body -->

<body class="k-login-v2--enabled k-header--fixed k-header-mobile--fixed k-aside--enabled k-aside--fixed">
    <div id="app"></div>
    <script>
         window.config = {
            env: "{{config.env}}",
            API_URL: "{{config.API_URL}}"
        };
        window.env = '{{config.env}}'
    </script>
    <!-- begin::Global Config -->
    <script>
        var KAppOptions = { "colors": { "state": { "brand": "#5d78ff", "metal": "#c4c5d6", "light": "#ffffff", "accent": "#00c5dc", "primary": "#5867dd", "success": "#34bfa3", "info": "#36a3f7", "warning": "#ffb822", "danger": "#fd3995", "focus": "#9816f4" }, "base": { "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"], "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"] } } };
    </script>
    <!-- end::Global Config -->

    <!--begin::Global Theme Bundle -->
    <script src="./assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    <script src="./assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->

    <!--begin::Global App Bundle -->
    <script src="./assets/app/scripts/bundle/app.bundle.js" type="text/javascript"></script>
    <!--end::Global App Bundle -->

    <!--begin::Global App Bundle -->
    <script src="./bundles/registration.bundle.js" type="text/javascript"></script>
    <!--end::Global App Bundle -->

    {{!-- <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6Lcc_Y8UAAAAAKQclafg6UvwgkOhiBRfbsm7648J', { action: 'action_name' })
                .then(function (token) {
                    console.log({token})
                    // Verify the token on the server.
                });
        });
    </script> --}}

</body>
<!-- end::Body -->

</html>