<header class="header-transparent" id="header-main">
  <!-- Search -->
  <div id="search-main" class="navbar-search">
    <div class="container">
      <!-- Search form -->
      <form class="navbar-search-form" role="form">
        <div class="form-group">
          <div class="input-group input-group-transparent">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Type and hit enter ...">
          </div>
        </div>
      </form>
      <div class="navbar-search-suggestions">
        <h6>Search Suggestions</h6>
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-unstyled mb-0">
              <li>
                <a class="list-link" href="#">
                  <i class="fas fa-search"></i>
                  <span>macbook pro</span> in Laptops
                </a>
              </li>
              <li>
                <a class="list-link" href="#">
                  <i class="fas fa-search"></i>
                  <span>iphone 8</span> in Smartphones
                </a>
              </li>
              <li>
                <a class="list-link" href="#">
                  <i class="fas fa-search"></i>
                  <span>macbook pro</span> in Laptops
                </a>
              </li>
              <li>
                <a class="list-link" href="#">
                  <i class="fas fa-search"></i>
                  <span>beats pro solo 3</span> in Headphones
                </a>
              </li>
              <li>
                <a class="list-link" href="#">
                  <i class="fas fa-search"></i>
                  <span>smasung galaxy 10</span> in Phones
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Topbar -->
  {{>utils/topbar}}


  <!-- Main navbar -->

  <nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-transparent navbar-dark bg-dark" id="navbar-main">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="/">
        <img alt="Image placeholder" src="/assets/img/brand/white.png" style="height: 50px;">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse"
        aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-main-collapse">
        <ul class="navbar-nav align-items-lg-center">
          <li class="nav-item ">
            <a class="nav-link" href="/features">Features</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/integrations">Integrations</a>
          </li>
          <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
            <a class="nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Uses</a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-arrow py-0">
              <div class="list-group">
                <a href="/uses/construction" class="list-group-item list-group-item-action">
                  <div class="media d-flex align-items-center">
                    <div class="media-body ml-3">
                      <h6 class="mb-1">Construction</h6>
                    </div>
                  </div>
                </a>
                <a href="/uses/energy_and_utilities" class="list-group-item list-group-item-action">
                  <div class="media d-flex align-items-center">
                    <div class="media-body ml-3">
                      <h6 class="mb-1">Energy and Utilities</h6>
                    </div>
                  </div>
                </a>
                <a href="/uses/enterprice" class="list-group-item list-group-item-action">
                  <div class="media d-flex align-items-center">
                    <div class="media-body ml-3">
                      <h6 class="mb-1">Enterprice Solutions</h6>
                    </div>
                  </div>
                </a>
                <a href="/uses/facilities_management" class="list-group-item li/pages/pages-landing.htmlst-group-item-action">
                  <div class="media d-flex align-items-center">
                    <div class="media-body ml-3">
                      <h6 class="mb-1">Facilities Management</h6>
                    </div>
                  </div>
                </a>
                <a href="/uses/logistics" class="list-group-item list-group-item-action">
                  <div class="media d-flex align-items-center">
                    <div class="media-body ml-3">
                      <h6 class="mb-1">Logistics</h6>
                    </div>
                  </div>
                </a>
                <a href="/uses/retail" class="list-group-item list-group-item-action">
                  <div class="media d-flex align-items-center">
                    <div class="media-body ml-3">
                      <h6 class="mb-1">Retail</h6>
                    </div>
                  </div>
                </a>
                <a href="/uses/telcom" class="list-group-item list-group-item-action">
                  <div class="media d-flex align-items-center">
                    <div class="media-body ml-3">
                      <h6 class="mb-1">Telcom</h6>
                    </div>
                  </div>
                </a>
                <!--                                     
                                    <a href="/pages/pages-secondary.html" class="list-group-item list-group-item-action">
                                        <div class="media d-flex align-items-center">
                                            <img alt="Image placeholder" src="/assets/img/icons/dusk/svg/ios-photos.svg"
                                                class="img-saturate" style="width: 50px;">
                                            <div class="media-body ml-3">
                                                <h6 class="mb-1">Secondary Pages</h6>
                                                <p class="mb-0">Build your website with these demos.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/pages/pages-account.html" class="list-group-item list-group-item-action">
                                        <div class="media d-flex align-items-center">
                                            <img alt="Image placeholder" src="/assets/img/icons/dusk/svg/maintenance.svg"
                                                class="img-saturate" style="width: 50px;">
                                            <div class="media-body ml-3">
                                                <h6 class="mb-1">Account Pages</h6>
                                                <p class="mb-0">Account management made easy.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/pages/pages-shop.html" class="list-group-item list-group-item-action">
                                        <div class="media d-flex align-items-center">
                                            <img alt="Image placeholder" src="/assets/img/icons/dusk/svg/in-progress.svg"
                                                class="img-saturate" style="width: 50px;">
                                            <div class="media-body ml-3">
                                                <h6 class="mb-1">Shop Pages</h6>
                                                <p class="mb-0">Explore the full ecommerce website flow.</p>
                                            </div>
                                        </div>
                                    </a> -->
              </div>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/pricing">Pricing</a>
          </li>

        </ul>

        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
          <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
            <a class="nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-arrow py-0">
              <div class="list-group">
                <a href="/resources/blog" class="list-group-item list-group-item-action">
                  <div class="media d-flex align-items-center">
                    <div class="media-body ml-3">
                      <h6 class="mb-1">Blog</h6>
                    </div>
                  </div>
                </a>
                <a href="/resources/customer_stories" class="list-group-item list-group-item-action">
                  <div class="media d-flex align-items-center">
                    <div class="media-body ml-3">
                      <h6 class="mb-1">Customer Stories</h6>
                    </div>
                  </div>
                </a>
                <a href="/resources/help_center" class="list-group-item list-group-item-action">
                  <div class="media d-flex align-items-center">
                    <div class="media-body ml-3">
                      <h6 class="mb-1">Help Center</h6>
                    </div>
                  </div>
                </a>
                <a href="/resources/reviews" class="list-group-item list-group-item-action">
                  <div class="media d-flex align-items-center">
                    <div class="media-body ml-3">
                      <h6 class="mb-1">Reviews</h6>
                    </div>
                  </div>
                </a>
                <a href="/resources/about" class="list-group-item list-group-item-action">
                  <div class="media d-flex align-items-center">
                    <div class="media-body ml-3">
                      <h6 class="mb-1">What are mobile forms</h6>
                    </div>
                  </div>
                </a>
                <a href="/resources/security" class="list-group-item list-group-item-action">
                  <div class="media d-flex align-items-center">
                    <div class="media-body ml-3">
                      <h6 class="mb-1">Mobile forms security</h6>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact" role="button">Contact</a>
          </li>
          <li class="nav-item mr-0">
            <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" target="_blank" class="nav-link d-lg-none">Sign
              up</a>
            <a href="app.braiven.io/register" target="_blank" class="btn btn-sm btn-white btn-circle btn-icon d-none d-lg-inline-flex">
              <span class="btn-inner--icon"><i class="fas fa-user-circle"></i></span>
              <span class="btn-inner--text">Sign up</span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

</header>