<div id="navbar-top-main" class="navbar-top  navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-nav align-items-center">
        <div class="d-none d-lg-inline-block">
          <span class="navbar-text mr-3">Braiven Data Kit - Data Collection App</span>
        </div>
        <div>
          <ul class="nav">
            <li class="nav-item dropdown ml-lg-2 dropdown-animate" data-toggle="hover">
              <a class="nav-link px-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img alt="Image placeholder" src="/assets/img/icons/flags/us.svg">
                <span class="d-none d-lg-inline-block">United States</span>
                <span class="d-lg-none">EN</span>
              </a>
              <div class="dropdown-menu dropdown-menu-sm dropdown-menu-arrow">
                <a href="" class="dropdown-item">
                  <img alt="Image placeholder" src="/assets/img/icons/flags/es.svg">Spanish</a>
                <a href="" class="dropdown-item">
                  <img alt="Image placeholder" src="/assets/img/icons/flags/ro.svg">Romanian</a>
                <a href="" class="dropdown-item">
                  <img alt="Image placeholder" src="/assets/img/icons/flags/gr.svg">Greek</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="ml-auto">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/support">Support</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" data-action="search-open" data-target="#search-main"><i class="fas fa-search"></i></a>
            </li>
            <li class="nav-item mr-0">
              <a href="app.braiven.io/login" target="_blank" class="nav-link d-lg-none">Login</a>
              <a href="app.braiven.io/login" target="_blank" class="btn btn-sm btn-white btn-circle btn-icon d-none d-lg-inline-flex">
                <span class="btn-inner--icon"><i class="fas fa-user-circle"></i></span>
                <span class="btn-inner--text">Login</span>
              </a>
            </li>
            <!-- <li class="nav-item">
                                <a class="nav-link" href="/pages/login.html"><i class="fas fa-user-circle"></i></a>
                            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>